*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eb5e28;
    width: 100vw;
    height: 100vh;
}

.container-calculate{
    display: flex;
}

.container-calculate-left{
    background-color: #ccc5b9;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 300px;
    height: 210px;
}

input{
    border-radius: 5px;
    border: none;
    padding: 6px;
    margin-top: 5px;
    background-color: #403d39;
    color: #ccc5b9;
}

.container-calculate-right{
    background-color:#403d39;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 200px;
}

.right-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.amount{
    display: flex;
}

h2{
    color: #403d39;
    
}

.total , .amount{
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    cursor:pointer; 
    color: #403d39; 
    font-weight: bold; 
    background-color: #ccc5b9;
    border: none; 
    padding: 10px 30px; 
    border-radius: 8px;
}
